<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147053694-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-147053694-1");
  </script>

  <style>
    .card-body {
      margin: 0 auto;
    }

    .question-form {
      padding-top: 10px;
    }

    .form-check [type="checkbox"][class*='filled-in']:checked+label:after {
      border-color: #2B9EB3;
      background-color: #2B9EB3;
    }

    .checkbox-correct-filled [type="checkbox"][class*='filled-in']:checked+label:after {
      border-color: #7CE577;
      background-color: #7CE577;
    }

    .checkbox-wrong-filled [type="checkbox"][class*='filled-in']:checked+label:after {
      border-color: #B8336A;
      background-color: #B8336A;
    }

    .checkbox-shouldBechecked-filled [type="checkbox"][class*='filled-in']:checked+label:after {
      border-color: #FAA381;
      background-color: #FAA381;
    }

    @media (max-width:768px){
      .container, .row{
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
      }

      .row .col{
        padding: 0;
        margin: 0;
      }

      .card {
        height: 100vh;
      }

      .question-form{
        max-width: 300px;
        width: 300px;
      }
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="height: 100vh;">
          <% for(var i = 0; i < question.length; i++){ %>
          <h5 class="card-header info-color white-text text-center py-4">
            <strong><%= question[i].question %></strong>
          </h5>

          <!--Card content-->
          <div class="card-body px-lg-5 pt-0">
            <div class="question-form">
              <% for(var j = 0; j < question[i].selections.length; j++) { %>
              <div class="form-check">
                <input id="<%= question[i].selections[j].name + j %>" class="form-check-input filled-in answer" type="checkbox"
                  value="<%= question[i].selections[j].answer %>" name="<%= question[i].id %>">
                <label class="form-check-label"
                  for="<%= question[i].selections[j].name + j %>"><%= question[i].selections[j].name %></label>
              </div>
              <% } %>
            </div>
            <div class="actions" align="center">
              <% if(i === question.length - 1) { %>
                <button id="finish" type="button" class="btn btn-success">點我看答案</button>
                <button id="save" type="button" class="btn btn-info">儲存</button>
                <% } else { %>
                <button id="continue" type="button" class="btn btn-primary">下一題</button>
                <% } %>
            </div>
          </div>
          <% } %>

          <hr>
          <div class="form-check checkbox-correct-filled">
            <input class="form-check-input filled-in" type="checkbox" checked disabled>
            <label class="form-check-label" for="">正確答案</label>
          </div>

          <div class="form-check checkbox-wrong-filled">
            <input class="form-check-input filled-in" type="checkbox" checked disabled>
            <label class="form-check-label" for="">選錯的答案</label>
          </div>

          <div class="form-check checkbox-shouldBechecked-filled">
            <input class="form-check-input filled-in" type="checkbox" checked disabled>
            <label class="form-check-label" for="">應選而未選的選項</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Central Modal Warning Demo-->
  <div class="modal fade left" id="ModalWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info modal-side modal-bottom-left" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading">完成測驗</p>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">

          <div class="row">
            <div class="col-3 text-center">
              <img src="/images/developer.jpg" alt="IMG of Avatars"
                class="img-fluid z-depth-1-half rounded-circle">
              <div style="height: 10px"></div>
              <p class="title mb-0">Kevin</p>
              <p class="text-muted " style="font-size: 13px">Developer<br/>Consultant</p>
            </div>

            <div class="col-9">
              <p>想要儲存錯誤紀錄日後複習用嗎？</p>
              <p class="card-text"><strong>請綁定 Google 帳號或登入留存您的學習紀錄！</strong></p>
            </div>
          </div>


        </div>

        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <a href="/auth/google" type="button" class="btn btn-danger"><i class="fab fa-google"></i>   Google Login</a>
          <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">No, thanks</a>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Central Modal Warning Demo-->


  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>


  <script>
    $(document).ready(() => {
      let isLogin = <%- isLogin %>;
      let selected_ans = [];
      let wrong_ans = [];
      let ans = [];

      if(!isLogin) $('#save').prop('disabled', true);
      else $('#save').prop('disabled', false);

      

      $("#finish").click(() => {
        let numberChecked = $('input.answer:checkbox:checked').length;

        if(numberChecked <= 0){
          alert('藥勾選！')
          return;
        }

        $('input[type="checkbox"]').each(function () {
          if (this.value === "true") {
            ans.push(this.id.replace(/[0-9]/g, ''))
          }
          if (this.checked) {
            if (this.value === "false") {
              wrong_ans.push(this.id.replace(/[0-9]/g, ''));
              $(this).parent('div').addClass('checkbox-wrong-filled');
            } else {
              selected_ans.push(this.id.replace(/[0-9]/g, ''));
              $(this).parent('div').addClass('checkbox-correct-filled');
            }
          } else {
            if (this.value === "true") {
              wrong_ans.push(this.id.replace(/[0-9]/g, ''));
              $(this).parent('div').addClass('checkbox-shouldBechecked-filled');
              this.checked = true;
            }
          }

          this.disabled = true;
        })
        // showResult (selected_ans, wrong_ans, ans)
        $("#ModalWarning").on('hidden.bs.modal', function () {});
        
        if(!isLogin)
          $("#ModalWarning").modal('show');
      })

      $("#save").click(function(){
        let numberChecked = $('input.answer:checkbox:checked').length;

        if(numberChecked <= 0){
          alert('藥勾選！')
          return;
        }

      $.ajax({
        'method': "POST",
        'url': "/save_result",
        'data': {
          selected_ans: selected_ans,
          wrong_ans: wrong_ans
        }, success: function (data) {
          $('儲存成功！')
        }
    })
    })
    })

    

    function showResult(selected_ans, wrong_ans, ans) {
      let shouldBeSelected = ans.filter(f => !selected_ans.includes(f));


      // console.log(selected_ans, wrong_ans, ans, shouldBeSelected)
    }
  </script>

</body>

</html>