<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>My PMP</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet" />
    <style>
      .card-wrapper{
        height: 500px !important;
      }
      .back .card-body div .row{
        padding-top: unset;
        padding-bottom: unset;
      }
    </style>
  </head>

  <body class="container">
      <div class="row">
        <div class="col-auto">
            <a type="button" class="btn btn-primary" href="/">下一個</a>
        </div>
      </div>
      <div class="card-body grey lighten-5 rounded-bottom">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <% knowledges.forEach(function(knowledge) { %>
            <div class="col-12 p-1">
              <!-- Rotating card -->
              <div class="card-wrapper card-action">
                <div id="card-<%= knowledge.id%>" class="card card-rotating text-center">
                  <!-- Front Side -->
                  <div class="face front">
                    <div class="card-up">
                      <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/18.jpg" alt="Image with a photo of clouds.">
                    </div>
  
                    <div class="avatar mx-auto white">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(21).jpg" class="rounded-circle" alt="Sample avatar image.">
                    </div>
  
                    <!-- Content -->
                    <div class="card-body">
                      <p class="font-weight-bold text-uppercase pink-text mb-3">
                        <%= knowledge.process%>
                      </p>
                      <h3 class="font-weight-bold mb-3 pb-1"><%= knowledge.zh_sub_process%></h3>
                      <hr />
                      <p>
                        <%= knowledge.sentence%>
                    </p>
                      <!-- Triggering button -->
                      <a
                        class="rotate-btn btn-floating btn-pink"
                        data-card="card-<%= knowledge.id%>"
                        ><i class="fas fa-redo-alt"></i> Click here to rotate</a
                      >
                    </div>
                  </div>
                  <!-- Front Side -->
  
                  <!-- Back Side -->
                  <div class="face back">
                    <div class="card-body"  align="left">
                      <!-- Content -->
                      <h4 class="font-weight-bold">ITTO</h4>
                      <hr />
                      <h6>Input</h6>
                      <div>
                        <div class="row">
                            <%  
                            if(knowledge.input.length  != 0 )
                                knowledge.input.forEach(function(key, index) {
                               %>
                              <div class="col-md-3 col-6">
                                  <p>
                                    <a href="#" class="material-tooltip-main" data-toggle="tooltip" title="<%= key %>"><%= index+1 %>.<%= key %></a>
                                  </p>
                              </div>
                            <% }) %>
                        </div>
                       
                      </div>     
                      <h6>T&T</h6>
                      <div class="row">
                          <%  if(knowledge.tt.length   != 0 ) 
                            knowledge.tt.forEach(function(key, index) { %>
                            <div class="col-md-3 col-6">
                                <p><a href="#" class="material-tooltip-main" data-toggle="tooltip" title="<%= key %>"><%= index+1 %>.<%= key %></a>
                                </p></div>
                          <% }) %>
                      </div>
                      
                      <h6>Output</h6>
                      <div class="row">
                          <% if(knowledge.output.length != 0 )
                          knowledge.output.forEach(function(key, index) { %>
                            <div class="col-md-3 col-6">
                              <p><a href="#" class="material-tooltip-main" data-toggle="tooltip" title="<%= key %>"><%= index+1 %>.<%= key %></a>
                              </p>                              
                            </div>
                          <% }) %>
                      </div>
                      <hr />
                      <a class="rotate-btn" data-card="card-<%= knowledge.id%>" href="/"><i class="fas fa-undo"></i> Click here to get next</a>
                    </div>
                  </div>
                  <!-- Back Side -->
                </div>
              </div>
              <!-- Rotating card -->
            </div>
            <!-- Grid column -->
            <% }) %>
  
        </div>
      </div>

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>
</html>
